.wrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  font-size: 24px;
}

.navLink {
  color: #000000;
  background-color: transparent;
  border: 1px solid #433a46ab;
  color: #00132c;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.navLink:hover,
.navLink:active {
  outline: 0;
}

.navLink:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.active {
  color: rgba(255, 255, 255, 0.712);
  background-color: rgba(228, 167, 13, 0.712);
}
