.wrapper {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 20px;
}

.logOut_button {
  background-color: transparent;
  border: 1px solid #e87438;
  color: #00132c;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.logOut_button:hover,
.logOut_button:active {
  cursor: pointer;
  transform: scale(1.1);
}

.logOut_button:hover {
  background-color: transparent;
  cursor: pointer;
}
